#Day 12:

Question:

Based on the lecture and the tests you learnt, perform the appropriate test according to you
on the dataset of Company XYZ and give a short inference based on the p value and
hypothesis.
Dataset: Same as given on day 7 of Company XYZ of attrition

In [37]:
import pandas as pd
from scipy.stats import pearsonr, chi2_contingency, wilcoxon, friedmanchisquare, mannwhitneyu
from scipy.stats import kruskal, ttest_1samp, ttest_rel, ttest_ind

In [2]:
data=pd.read_csv('general_data.csv')

In [3]:
data.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [4]:
data.Attrition = data.Attrition.replace(['Yes','No'],[0,1])

In [28]:
from scipy.stats import mannwhitneyu

H0: There is no significant difference in the mean age of Employees who have leaved the company and stayed in company

H1: There is significant difference in the mean age of Employees who have leaved the company and stayed in company

In [29]:
from scipy.stats import ttest_ind

In [36]:
ttest_ind(data.Attrition,data.Attrition)

Ttest_indResult(statistic=0.0, pvalue=1.0)

As pvalue is less 0.05 we have to reject null hypothesis and accept alternative hypothesis that there is significant difference in the Attrition who have leaved the company and stayed in the company

In [8]:
data1 = data[['Attrition','Age','DistanceFromHome','Education','JobLevel','MonthlyIncome','PercentSalaryHike','StandardHours','StockOptionLevel','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [9]:
data2 = data1[['Age','DistanceFromHome','Education','JobLevel','MonthlyIncome','PercentSalaryHike','StandardHours','StockOptionLevel','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [10]:
display(data1.info())
display(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Attrition                4410 non-null   int64
 1   Age                      4410 non-null   int64
 2   DistanceFromHome         4410 non-null   int64
 3   Education                4410 non-null   int64
 4   JobLevel                 4410 non-null   int64
 5   MonthlyIncome            4410 non-null   int64
 6   PercentSalaryHike        4410 non-null   int64
 7   StandardHours            4410 non-null   int64
 8   StockOptionLevel         4410 non-null   int64
 9   TrainingTimesLastYear    4410 non-null   int64
 10  YearsAtCompany           4410 non-null   int64
 11  YearsSinceLastPromotion  4410 non-null   int64
 12  YearsWithCurrManager     4410 non-null   int64
dtypes: int64(13)
memory usage: 448.0 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   DistanceFromHome         4410 non-null   int64
 2   Education                4410 non-null   int64
 3   JobLevel                 4410 non-null   int64
 4   MonthlyIncome            4410 non-null   int64
 5   PercentSalaryHike        4410 non-null   int64
 6   StandardHours            4410 non-null   int64
 7   StockOptionLevel         4410 non-null   int64
 8   TrainingTimesLastYear    4410 non-null   int64
 9   YearsAtCompany           4410 non-null   int64
 10  YearsSinceLastPromotion  4410 non-null   int64
 11  YearsWithCurrManager     4410 non-null   int64
dtypes: int64(12)
memory usage: 413.6 KB

None

In [15]:
mean = data2.mean()
mean

Age                           36.923810
DistanceFromHome               9.192517
Education                      2.912925
JobLevel                       2.063946
MonthlyIncome              65029.312925
PercentSalaryHike             15.209524
StandardHours                  8.000000
StockOptionLevel               0.793878
TrainingTimesLastYear          2.799320
YearsAtCompany                 7.008163
YearsSinceLastPromotion        2.187755
YearsWithCurrManager           4.123129
dtype: float64

In [17]:
median = data2.median()
median

Age                           36.0
DistanceFromHome               7.0
Education                      3.0
JobLevel                       2.0
MonthlyIncome              49190.0
PercentSalaryHike             14.0
StandardHours                  8.0
StockOptionLevel               1.0
TrainingTimesLastYear          3.0
YearsAtCompany                 5.0
YearsSinceLastPromotion        1.0
YearsWithCurrManager           3.0
dtype: float64

In [18]:
mode = data2.mode()
mode

   Age  DistanceFromHome  ...  YearsSinceLastPromotion  YearsWithCurrManager
0   35                 2  ...                        0                     2

[1 rows x 12 columns]

In [20]:
skew = data1.skew()
skew

Attrition                 -1.843111
Age                        0.413005
DistanceFromHome           0.957466
Education                 -0.289484
JobLevel                   1.024703
MonthlyIncome              1.368884
PercentSalaryHike          0.820569
StandardHours              0.000000
StockOptionLevel           0.968321
TrainingTimesLastYear      0.552748
YearsAtCompany             1.763328
YearsSinceLastPromotion    1.982939
YearsWithCurrManager       0.832884
dtype: float64

In [21]:
kurtosis = data1.kurtosis()
kurtosis

Attrition                  1.397690
Age                       -0.405951
DistanceFromHome          -0.227045
Education                 -0.560569
JobLevel                   0.395525
MonthlyIncome              1.000232
PercentSalaryHike         -0.302638
StandardHours              0.000000
StockOptionLevel           0.361086
TrainingTimesLastYear      0.491149
YearsAtCompany             3.923864
YearsSinceLastPromotion    3.601761
YearsWithCurrManager       0.167949
dtype: float64

In [22]:
correlation = data.corr()
correlation

                              Age  ...  YearsWithCurrManager
Age                      1.000000  ...              0.202089
Attrition                0.159205  ...              0.156199
DistanceFromHome         0.006963  ...              0.021584
Education               -0.035706  ...              0.005358
EmployeeCount                 NaN  ...                   NaN
EmployeeID               0.008649  ...              0.008579
JobLevel                -0.002884  ...             -0.055251
MonthlyIncome           -0.044314  ...              0.024304
NumCompaniesWorked       0.299243  ...             -0.109667
PercentSalaryHike       -0.033137  ...             -0.040864
StandardHours                 NaN  ...                   NaN
StockOptionLevel        -0.031753  ...              0.017757
TotalWorkingYears        0.680661  ...              0.458800
TrainingTimesLastYear   -0.027308  ...             -0.013270
YearsAtCompany           0.311309  ...              0.769212
YearsSinceLastPromotion  0.216513  ...              0.510224
YearsWithCurrManager     0.202089  ...              1.000000

[17 rows x 17 columns]

In [23]:
stats, p = wilcoxon(data1.Attrition, data1.Age)
print(f'The Value of p in wilcoxon test is: {p}')
if p < 0.05:
    print('There is significant impact of Age on Attrition')
else:
    print('There is no significant impact of Age on Attrition')

The Value of p in wilcoxon test is: 0.0
There is significant impact of Age on Attrition

In [25]:
stats, p = friedmanchisquare(data1.Attrition, data1.Age, data1.DistanceFromHome, data1.MonthlyIncome)
print(f'The Value of p in friedmanchisquare test is: {p}')
if p < 0.05:
    print('There is significant impact of Age, Distance from Home, Monthly Income on Attrition')
else:
    print('There is no significant impact of Age, Distance from Home, Monthly Income on Attrition')

The Value of p in friedmanchisquare test is: 0.0
There is significant impact of Age, Distance from Home, Monthly Income on Attrition

In [26]:
crosstable = pd.crosstab(data.Attrition,data.Department)
crosstable

Department  Human Resources  Research & Development  Sales
Attrition
0                        57                     453    201
1                       132                    2430   1137

In [27]:
stats, p, dof, expected = chi2_contingency(crosstable)
print(f'The Value of p in chi2_contingency test is: {p}')
if p < 0.05:
    print('The variables are dependent')
else:
    print('The variables are not dependent')

The Value of p in chi2_contingency test is: 4.820888218170407e-07
The variables are dependent